<!DOCTYPE html>
<head>
    <title>Crude Oil Price Prediction </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body style="text-align:left">
    <h1> CRUDE OIL PRICE PREDICTION  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url_for('predict')}}"
        style="border-radius: 100px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(44, 79, 255); text-decoration: none;font-size: 20px;">
       Predict Oil Price</a>
       <a href="{{url_for('team')}}"
        style="border-radius: 100px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(44, 79, 255); text-decoration: none;font-size: 20px;">
       Team Members</a>                              
    </h1>
    <p>   
        IBM-Project-51555-1660980405</p>
    <br><br>
    
    <br>
    <br>
    <table>

        <tr>
            <th> &nbsp;&nbsp;&nbsp;&nbsp;Why Prediction?</th>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oil demand is inelastic, therefore the rise in price is good news for producers because they will see an increase in &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;their revenue.
                Oil importers, however, will experience increased costs of purchasing oil. Because oil is the largest &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;traded commodity, the effects 
                are quite significant. A rising oil price can even shift economic/political power from &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;oil importers to oil exporters. The crude 
                oil price movements are subject to diverse influencing factors.</td>
            <td> &nbsp;&nbsp;</td>
        </tr>
        <tr>
            <th> &nbsp;&nbsp;&nbsp;&nbsp;Our Project</th>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Guided Project mainly focuses on applying Neural Networks to predict the Crude Oil Price. This decision helps &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;us to buy crude oil at the proper time. Time series analysis is the best option for this kind of prediction because we &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;are using the Previous history of crude oil prices to predict future crude oil. So we would be implementing &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RNN(Recurrent Neural Network) with LSTM(Long Short Term Memory) to achieve the task.</td>

          </tr>
          <th>
          
            <br>
            &nbsp;
          </th>
          <br>
          
      </table>
      <br><br>
      
      <br>
</body>
