<!DOCTYPE html>
<head>
    <title>Crude Oil Price Prediction </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
</head>
<body style="text-align:left">
    <h1> CRUDE OIL PRICE PREDICTION  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url_for('predict')}}"
        style="border-radius: 100px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(44, 79, 255); text-decoration: none;font-size: 20px;">
       Predict Oil Price</a>
       <a href="{{url_for('index')}}"
        style="border-radius: 100px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(44, 79, 255); text-decoration: none;font-size: 20px;">
       Homepage</a>                              
    </h1>
    <p>   
        IBM-Project-51555-1660980405</p>
    <br><br>
    
    <br>
    <br>
    <table>

        <tr>
            <th> Team ID : </th>
            <th> PNT2022TMID24082 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr>
        <br>&nbsp;
        <br>&nbsp;
        <br>&nbsp;
            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Leader : JULIAN KINGSLEY J </td>
            <td> [1902153] </td>
        </tr>
        <tr>
            <td> Team member : MANOJ S </td>
            <td> [1902102] </td>
          </tr>
          <tr>
            <td> Team member : GOPI RAJ M P </td>
            <td> [1902133] </td>
          </tr>
          <tr>
            <td> Team member : AJAYPRASAD K </td>
            <td> [1902108] </td>
          </tr>
          
      </table>
      <br><br>
      
      <br>
</body>
